.home {
background-color:white;
}

.hero {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hero img {
    width:100%;
    margin-bottom:-4px;
}

.hero h1 {
    position: absolute;
    top:60px;
    width:100%;
    text-align: center;
    color:white;
    text-shadow:4px 4px 14px black;
    font-size:80px;
    font-weight:500;
    letter-spacing:-.035em;
}

.hero h2 {
    position:absolute;
    top:20px;
    width:100%;
    text-align: center;
    color:white;
    text-shadow:4px 4px 8px black;
    font-size:50px;
    font-weight:400;
    letter-spacing:-.025em;
}
.hero .registered {
    font-size:36px;
    position: relative;
    left:4px;
    top:-32px;
    text-shadow:4px 4px 8px black;
    color:rgba(255,255,255,.85);
    font-weight: 500;
}
.bodyText {
    padding-left:40px;
    padding-right:40px;
    padding-bottom:120px;
    margin:auto;
    max-width:800px;
    background-color:white;
}

.bodyText h1 {
    text-align: center;
}


.bodyText p {
    margin-bottom:30px;
    font-weight: 400;
    font-size:16px;
    line-height:24px;
    color:#666666;
    letter-spacing: -.01em;
}

.logotype {
    letter-spacing: -.035em;
}

a.heroPill {
    position: relative;
    top:-30px;
    font-size:24px;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    box-shadow:0 0 8px black;
    border-radius:30px;
}

.panel {
    margin:20px;
    padding:10px;
    border-radius:10px;
    border:2px solid gray;
}

.row {
    border:1px solid gray;
    padding:6px;
}

.rowHeader {
    background-color:gray;
    padding:6px;
}

.utilityBtn {
    background-color:gray;
    padding:4px;
    border-radius:4px;
    color:white;
    user-select: none;
    cursor: pointer;
}

.utilityBtn:hover {
    background-color: blue;
}

@media only screen and (min-width:800px) {
    a.heroPill {
        top:-100px;
    }
}

@media only screen and (min-width:900px) {
    a.heroPill {
        top:-200px;
    }
}

@media only screen and (min-width:1000px) {
    a.heroPill {
        top:-300px;
    }
}