
.results {
    display:grid;
    grid-template-columns: 1fr;
}

.resultImage {

}

.resultImage img {
    width:100%;
}

.resultItems {


}

.resultData {
    padding-left:20px;

}

@media only screen and(min-width:800px) {

    .results {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }



}