
.burger {
    cursor: pointer;
    width: 100px;
    opacity: .8;
    grid-column: 3;
    padding-top:20px;
}

.burger:hover {
    background-color:#cccccc;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 8px;
    background-color: #000000;
    border-radius: 4px;
    transition: .4s ease;
    margin:auto;
    margin: 8px auto 8px auto;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-10px, 12px);
}

.change .bar3 {
    transform: rotate(45deg) translate(-10px, -12px);
}

.change .bar2 {
    opacity: 0;
}

.mobileMenu {
    overflow: hidden;
    transition: all .5s;
    height:0px;
    background-color:#cccccc;
}

.mobileMenuOpen {
    height:200px;
}