@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color:#dddddd;
}

.App {
  max-width:1200px;
  margin:auto;
  background-color: white;
  min-height:100vh;
  box-shadow:0 0 12px #aaaaaa;
}
