@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App {
  max-width:1200px;
  margin:auto;
  border-left:4px solid black;
  border-right:4px solid black;

}
